*, *::before, *::after {
box-sizing: border-box;
font-family: Gotham Rounded;
}

/* Setting up the styling for the quiz code accredited to Web Dev Simplified, I added my own styling also*/



:root {
    --hue-neutral: 200;
    --hue-wrong: 0;
    --hue-correct: 145;
}

body {
    --hue: var(--hue-neutral);
    padding: 0;
    margin: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: hsl(var(--hue), 100%, 94%);
}

body.correct {
    --hue: var(--hue-correct);
}

body.wrong {
    --hue: var(--hue-wrong);
}

h1 {
    position: absolute;
    top: 20px;
    font-size: 40px;
  }


.container {
    width: 800px;
    max-width: 80%;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px 2px;
}

#question {
font-size: 35px;
font-weight: bold;
}


.btn-grid {
    display: grid;
    grid-template-rows: repeat(4, auto);
    gap: 10px;
    margin: 20px 0;
}

.btn {
    --hue: var(--hue-neutral);
    border: 1px solid hsl(var(--hue), 100%, 30%);
    background-color: hsl(var(--hue), 100%, 50%);
    border-radius: 5px;
    padding: 5px 10px;
    color: white;
    outline: none;
}

.btn:hover {
    border-color: black;
}

.btn.correct {
    --hue: var(--hue-correct)
}

.btn.wrong {
    --hue: var(--hue-wrong);
}

.start-btn, .next-btn, .btn {
    font-size: 2rem;
    font-weight: bold;
    padding: 10px 20px;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
}


.hide {
    display: none;
}


/* Set media queries to work on all devices. Code accredited to to Merkim dev tutorials 
However I had to adjust the specific elements and styling for them myself */


@media screen and (max-width:1024px) {
    .container h1 {
        width: 40vw;
    }

}
    
@media screen and (max-width:768px) {
    .container h1{
        width: 40%;
    }
}

@media screen and (max-width:480px) {
    .container  h1{
        width: 90vw;
    }
    
    .container {
        width: 90vw;
    }

.welcome p {
    font-size: 20px;
}

}


