body {
background: rgb(247, 31, 31);
height: 90vh;
display: flex;
align-items: center;
justify-content: center;
font-size: 20px;
}

.container {
    height: 60vh;
    width: 70vw;
    background: transparent;
    grid-template-columns: 100%;
    grid-template-rows: 90% 10%;
    justify-content: center;
    align-items: center;
    display: none;
}

.score {
font-size: 40px;
width: 10vw;
font-weight: 700;
color: white;
position: absolute;
top: 0;
left: 45%;

}



.welcome {
height: 25vh;
width: 30vw;
background: white;
border-radius: 5px;
text-align: center;
text-transform: uppercase;

}



.welcome p {
    font-size: 27px;
    margin-bottom: 3rem;
    text-transform: uppercase;

}

.welcome button {
    width: 40%;
    padding: 10px;
    border: none;
    outline: none;
    font-size: 18px;
    background: green;

}

.questions {
     height: 99%;
     display:grid;
     grid-template-columns: 100%;
     grid-template-rows: 25% 75% ;
     align-items: center;
     justify-content: center;
     flex-direction: column;
}

.questions p {
     background: whitesmoke;
     height: 100%;
     display: flex;
     align-items: center;
     justify-content: center;

}

.button {
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.button button {
width: 50%;
padding: 8px;
font-size: 20px;
border: none;
outline: none;
border-radius: 6px;

}

.answers {
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
gap: 10%;
background: white;
height: 100%;
margin-bottom: 5px;

}

.answer__button {

    max-width: 30%;
    padding: 10px;
    border: none;
    outline: none;
    background: rgb(223, 223, 233);
}

.answer__button.valid{
    border: 2px solid rgb(40, 133, 240);


}

.answer__button.invalid {
    border: 2px solid tomato;
}

